.App-container {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 1%;
	/*margin-bottom: 20px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: auto;
}

.Plate {
	position: relative;
	width: 24%;
	padding-top: 20%;
	margin: 1% 0;
	text-align: center;
	background-color: #f9ba32;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
}

.Plate-hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 1;
	background-color: rgb(0, 0, 0);
	border-radius: 15px;
}

.Plate:hover .Plate-hover {
	display: block;
}

.Image {
	z-index: 1;
	border-radius: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
